

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-image: url("../HTML/Imagenes/fondo_body.jpg");
}

h2 {
    color: #d11515;
    font-size: 300%;
    margin: 30px;
    text-align: center;
}

h3 {
    font-size: 300%;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

@import "letra";
@import "nosotros";
@import "productos";
@import "home";

